<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Professional register:</strong>
    <%= employee.professional_register %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= employee.type_employee %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= employee.status %>
  </p>

</div>
