
<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :professional_register %>
    <%= f.input :type_employee, collection: Employee.type_employees.map { |s| [I18n.t(s, scope: %i[str_enum_attribute employee type_employee]), s] } %>
    <%= f.input :status, as: :hidden  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success float-end' %>
  </div>
<% end %>
